  

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="line"  >Lineal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pie">Pastel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bar">Barras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="doughnut">Dona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="radar">Radar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="polar">Polar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bubble">Burbujas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="scatter">Dispersion</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>